@import "tailwindcss";

* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
body {
  min-height: 100vh;
  background-attachment: fixed;
}
.noShadow {
  box-shadow: none;
}
html {
  scroll-behavior: smooth;
  scroll-padding-top: 80px;
}
